<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>ModeSelect</key>
		<string>モードを選択して下さい</string>
		<key>UnitSelect</key>
		<string>ユニットを選択して下さい</string>
		<key>SkillSelect</key>
		<string>スキルを選択してください</string>
		<key>ServerAddress</key>
		<string>http://192.168.0.29/cocos2dx/database.db3</string>
		<key>retry</key>
		<string>3</string>
		<key>APIServer</key>
		<string>http://52.68.104.55/RTSAPI/</string>
		<key>NodeJSServer</key>
		<string>ws://192.168.0.156:8222/</string>
		<key>NodeJSServer2</key>
		<string>ws://52.68.104.55:8000/</string>
		<key>TempKey</key>
		<string>Temp value</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
