<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>retry</key>
		<string>3</string>
		<key>APIServer</key>
		<string>http://52.68.104.55/RTSAPI/</string>
		<key>NodeJSServer</key>
		<string>ws://52.68.104.55:8222/</string>
		<key>MapServer</key>
		<string>ws://52.68.104.55:8000/</string>
		<key>MoveServer</key>
		<string>ws://52.68.104.55:8001/</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
