<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,121}}</string>
                <key>sourceSize</key>
                <string>{136,121}</string>
            </dict>
            <key>inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,121}}</string>
                <key>sourceSize</key>
                <string>{136,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseSlot.png</string>
            <key>size</key>
            <string>{278,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea2b51b5759cc3fff39f633445a68814:f67f573169d349c5590844a24433ccdc:8ba00fa2f05b3779d6e334a512669da1$</string>
            <key>textureFileName</key>
            <string>baseSlot.png</string>
        </dict>
    </dict>
</plist>
